{%extends 'keywordapp/layout.html'%} {%block title%} จัดการ Footer {%endblock title%} {%block content%}
{%load static%}


<h1 class="display-3 text-center">จัดการ Footer</h1>
<h3 class="text-center">หน้า : {{pageName}}</h3>
<h3 class="text-center">Title ของหน้า : {{titleOfPage}}</h3>
{%if message%}
<div class="alert alert-success" role="success">{{message}}</div>
{%endif%}
{%if error%}
<div class="alert alert-danger" role="danger">{{error}}</div>
{%endif%}

<!-- Button back -->
<div class="d-flex justify-content-start">
  <a class="btn btn-gray" href="{%url 'pagelist-page' weblistId %}">
    ย้อนกลับ
  </a>
</div>
<section class="pink-bg padding-10 mt-5">
  <form method="POST" action="{%url 'page-footer-page' pageId%}">
    {%csrf_token%}
    <div class="row mt-5">
      <div class="col-12 col-md-6 col-lg-3">
        <label class="pt-3">Keyword</label>
        <input type="text" class="form-control" value="" name="footer_keyword" />
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label class="pt-3">Header ของ Keyword</label>
        <select name="header" class="form-control selectpicker" id="" data-live-search="true">
          <option value="H1">H1</option>
          <option value="H2">H2</option>
          <option value="H3">H3</option>
          <option value="H4">H4</option>
          <option value="H5">H5</option>
          <option value="H6">H6</option>
          <option value="P" >P</option>
        </select>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label class="pt-3">ขยาย Header</label>
        <select name="give_detail" class="form-control selectpicker" id="" data-live-search="true">
          <option value="no">No</option>
          {%for data in footerKeywordList%}
          <option value="{{data.keyword_name}}">{{data.keyword_name}}</option>
          {%endfor%}
        </select>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <label class="pt-3">Tag ปลายทาง</label>
        <input type="text" class="form-control" value="" name="destination_tag" />
      </div>
      <div class="text-center mt-3">
        <button type="submit" class="btn btn-blue">เพิ่มข้อมูล</button>
      </div>
  </form>
</section>

<section class="pink-bg padding-10 mt-5">
<h3 class="mt-5">ตารางข้อมูล</h3>
<div class="table-responsive">
<table class="table table-hover">
  <tr class="table-primary">
    <th>ลำดับ</th>
    <th>Header</th>
    <th>Keyword</th>
    <th>Tag ปลายทาง</th>
    <th>Paragraph</th>
    <th>ดำเนินการ</th>
  </tr>
  {%for data in footerKeywordList%}
  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{data.header}}</td>
    <td class="select-all">{{data.keyword_name}}</td>
    <td>{{data.destination_tag}}</td>
    <td><a href="{%url 'longtail-footer-page' pageId data.id%}" class="btn btn-blue"><i class="bi bi-search"></i></a></td>
    <td><a href="{%url 'page-footer-edit-page' pageId data.id%}" class="btn btn-yellow"><i class="bi bi-pencil-square"></i></a> <a
        href="{%url 'page-footer-delete-page' pageId data.id%}" class="btn btn-red" onclick="confirmDelete(event)"><i class="bi bi-trash"></i></a>
      {%if data.subfooterkeywordmodel_set.all%}
      <button class="btn btn-yellow" type="button" data-bs-toggle="collapse" role="button"
        data-bs-target="#collapseExample{{forloop.counter}}" aria-expanded="false" aria-controls="collapseExample">
        <i class="bi bi-arrow-down"></i>
      </button>
      {%endif%}
    </td>
  </tr>

  {%if data.subfooterkeywordmodel_set.all%}
  <tr>
    <td colspan="6" class="p-0">
      <div class="collapse" id="collapseExample{{forloop.counter}}">
        <div class="card card-body">
          <table class="table table-dark">
            {%for data2 in data.subfooterkeywordmodel_set.all%}
            <tr style="border-bottom:0px;">
              <td></td>
              <td class="text-center">{{data2.header}}</td>
              <td class="text-center select-all">{{data2.keyword_name}}</td>
              <td class="text-center select-all">{{data2.destination_tag}}</td>
              <td class="text-center"><a href="{%url 'longtail-sub-footer-page' pageId data2.id%}"
                  class="btn btn-blue"><i class="bi bi-search"></i></a></td>
              <td class="text-center"><a href="{%url 'page-sub-footer-edit-page' pageId data.id data2.id %}"
                  class="btn btn-yellow"><i class="bi bi-pencil-square"></i></a> <a href="{%url 'page-sub-footer-del-page' pageId data2.id%}"
                  class="btn btn-red" onclick="confirmDelete(event)" ><i class="bi bi-trash"></i></a></td>
            </tr>
            {%endfor%}
          </table>
        </div>
      </div>
    </td>
  </tr>
  {%endif%}
  {%endfor%}
</table>
</div>
</section>
{%endblock content%}