{%extends 'keywordapp/layout.html'%} {%block title%} จัดการ Paragraph ของ Footer {%endblock title%} {%block content%}
{%load static%}
<h1 class="display-3 text-center">จัดการ Paragraph ของ Footer</h1>
<h3 class="text-center">Keyword : <span class="select-all">{{keywordModel.keyword_name}}</span></h3>
{%if message%}
<div class="alert alert-success" role="success">{{message}}</div>
{%endif%} {%if error%}
<div class="alert alert-danger" role="alert">{{error}}</div>
{%endif%}

<!-- Button back -->
<div class="pb-5 d-flex justify-content-between">
  <a class="btn btn-gray" href="{%url 'page-footer-page' pageId%}">
    ย้อนกลับ
  </a>
  <button class="btn btn-blue" data-bs-toggle="modal" data-bs-target="#addFooterLongtailModal">
    เพิ่มคำ
  </button>
</div>



<div class="row">
  <div class="col-3">
    <section class="pink-bg padding-30 mt-5">
      <h2><span class="badge text-bg-primary">ความหนาแน่นคำ แบบเต็ม</span></h2>
      <div class="table-responsive height-300">
        <table class="table">
          <tr>
            <td class="table-primary text-center">Keyword แบบเต็ม</td>
            <td class="table-primary text-center">จำนวน</td>
          </tr>
          {%for key,values in countFullKwKey.items %}
          <tr>
            <td>
              {{key}}
            </td>
            <td class="text-center">
              {{values}}
            </td>
          </tr>
          {%endfor%}
        </table>
      </div>
    </section>
  </div>
  <div class="col-3">
    <section class="pink-bg padding-30 mt-5">
      <h2><span class="badge text-bg-primary">ความหนาแน่นคำ แบบย่อ</span></h2>
      <div class="table-responsive height-300">
        <table class="table">
          <tr>
            <td class="table-primary text-center">Keyword แบบย่อ</td>
            <td class="table-primary text-center">จำนวน</td>
          </tr>
          {%for key,values in countShortKwKey.items %}
          <tr>
            <td>
              {{key}}
            </td>
            <td class="text-center">
              {{values}}
            </td>
          </tr>
          {%endfor%}
        </table>
      </div>
    </section>
  </div>
  <div class="col-6">
    <section class="pink-bg padding-30 mt-5">
      <div class="table-responsive height-300">
        <h2><span class="badge text-bg-primary">รวมคำ</span></h2>
        <div>
          <span class="header-22 fw-bold">จำนวน Keyword แบบเต็ม ({{lengthFullKeyword}})</span><br>
          {%for x in longtailKeywordModel%}
          <span class="select-all">{{x.longtail_name}}</span>
          {%endfor%}
        </div>
        <div class="mt-2">
          <span class="header-22 fw-bold">จำนวน Keyword แบบย่อ ({{lengthShortKeyword}})</span><br>
          {%for x in longtailKeywordModel%}
          <span class="select-all">{{x.shorten_name}}</span>
          {%endfor%}
        </div>
        <div class="mt-2">
          <form method="POST" action="{%url 'apply-short-keyword-page'%}">
            {%csrf_token%}
            <input type="hidden" name="page_id" value="{{pageId}}">
            <input type="hidden" name="add_mode" value="not duplicate">
            {%if footerId%}
            <input type="hidden" name="come_from" value="footer keyword paragraph">
            <input type="hidden" name="keyword_id" value="{{footerId}}">
            {%else%}
            <input type="hidden" name="come_from" value="sub footer keyword paragraph">
            <input type="hidden" name="keyword_id" value="{{subFooterId}}">
            {%endif%}
            <span class="header-22 fw-bold">ตัดคำซ้ำทั้งหมด ({{numberOfUniqueDataListToString}})</span>
            <button type="submit" class="btn btn-blue">ใช้คำชุดนี้</button>
          </form>
          {%for x in uniqueDataList%}
          <span class="select-all">{{x}}</span>
          {%endfor%}
        </div>
        <div class="mt-2">
          <form method="POST" action="{%url 'apply-short-keyword-page'%}">
            {%csrf_token%}
            <input type="hidden" name="page_id" value="{{pageId}}">
            <input type="hidden" name="add_mode" value="not duplicate exceed 2">
            {%if footerId%}
            <input type="hidden" name="come_from" value="footer keyword paragraph">
            <input type="hidden" name="keyword_id" value="{{footerId}}">
            {%else%}
            <input type="hidden" name="come_from" value="sub footer keyword paragraph">
            <input type="hidden" name="keyword_id" value="{{subFooterId}}">
            {%endif%}
            <span class="header-22 fw-bold">แต่ละคำ ซ้ำไม่เกิน 2 ({{numberOfUniqueDataListToString2WordExceed}})</span>
            <button type="submit" class="btn btn-blue">ใช้คำชุดนี้</button>
          </form>
          {%for x in uniqueDataList2WordExceedList%}
          <span class="select-all">{{x}}</span>
          {%endfor%}
        </div>
      </div>
    </section>
  </div>
  <div class="col-12">
    <section class="pink-bg padding-30 mt-5">
      <div class="table-responsive height-600">
        <h2><span class="badge text-bg-primary">ตารางข้อมูล</span></h2>
        <table class="table mt-3">
          <tr class="table-primary">
            <th class="text-center" rowspan="2"><br>ลำดับ</th>
            <th class="text-center" rowspan="2"><br>Keyword แบบเต็ม</th>
            <th class="text-center" rowspan="2"><br>Link</th>
            <th colspan="3" class="text-center">จำนวนคำที่ใช้</th>
            <th class="text-center" rowspan="2"><br>Keyword แบบย่อ</th>
            <th class="text-center" rowspan="2"><br>Link</th>
            <th colspan="3" class="text-center">จำนวนคำที่ใช้</th>
            <th class="text-center" rowspan="2"><br>ดำเนินการ</th>
          </tr>
          <tr class="table-primary">
            <th class="text-center">หน้านี้</th>
            <th class="text-center">ทุกหน้า</th>
            <th class="text-center">หัวข้อ</th>
            <th class="text-center">หน้านี้</th>
            <th class="text-center">ทุกหน้า</th>
            <th class="text-center">หัวข้อ</th>
          </tr>
          {%for lt_id,b,c,d,e,f,g,h,i,j,k in zipDataForLoop %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td class="select-all">{{b}}</td>
            <td class="text-center">{{c}}</td>
            <td class="text-center">{{d}}</td>
            <td class="text-center">{{e}}</td>
            {%if footerId%}
            <td class="text-center"><a href="/destination-tag/mainfooter/full/{{pageId}}/{{footerId}}/{{lt_id}}">{{f}}</a></td>
            {%else%}
            <td class="text-center"><a href="/destination-tag/subfooter/full/{{pageId}}/{{subFooterId}}/{{lt_id}}">{{f}}</a></td>
            {%endif%}
            <td class="text-center">{{g}}</td>
            <td class="text-center">{{h}}</td>
            <td class="text-center">{{i}}</td>
            <td class="text-center">{{j}}</td>
            {%if footerId%}
            <td class="text-center"><a href="/destination-tag/mainfooter/short/{{pageId}}/{{footerId}}/{{lt_id}}">{{k}}</a></td>
            {%else%}
            <td class="text-center"><a href="/destination-tag/subfooter/short/{{pageId}}/{{subFooterId}}/{{lt_id}}">{{k}}</a></td>
            {%endif%}
            <td>
              {%if footerId%}
              <a href="{%url 'longtail-footer-edit-page' pageId footerId lt_id%}" class="btn btn-yellow"><i
                  class="bi bi-pencil-square"></i></a>
              <a href="{%url 'longtail-footer-del-page' pageId footerId lt_id%}" class="btn btn-red"
                onclick="confirmDelete(event)"><i class="bi bi-trash"></i></a>
              {%else%}
              <a href="{%url 'longtail-sub-footer-edit-page' pageId subFooterId lt_id%}" class="btn btn-yellow"><i
                  class="bi bi-pencil-square"></i></a>
              <a href="{%url 'longtail-sub-footer-del-page' pageId subFooterId lt_id%}" class="btn btn-red"
                onclick="confirmDelete(event)"><i class="bi bi-trash"></i></a>
              {%endif%}
            </td>
          </tr>
          {%endfor%}
        </table>
      </div>
    </section>
  </div>
  <div class="col-12">
    <section class="pink-bg padding-30 mt-5">
      <h2><span class="badge text-bg-primary">
          ผลการค้นหาล่าสุดจาก Google</span></h2>
      <div class="table-responsive height-600">
        {%if refinePopularList or longtailList or refineAndReplatedList%}
        <div class="text-center">
          <span class="display-4">Keyword : <span class="select-all">{{keywordSearch}}</span></span>
        </div>
        <div class="row mt-5">
          <div class="col-sm-4">
            <table class="table table-hover mt-2 table-borderless">
              <tr class="table-dark">
                <td class="text-center" colspan="2">Refine Popular</td>
              </tr>
              {%for x in refinePopularList %}
              <tr class="table-info">
                <form method="POST" href="{%url 'page-footer-page' pageId %}">
                  <td>
                    {%csrf_token%}
                    <span class="select-all">{{x}}</span>
                    <input type="hidden" name="full_lt_keyword" value="{{x}}">
                    <input type="hidden" name="re_add" value="True" />
                  </td>
                  <td>
                    <button type="submit" class="btn btn-yellow"><i class="bi bi-plus-circle"></i></button>
                  </td>
                </form>
              </tr>
              {%endfor%}
            </table>
          </div>
          <div class="col-sm-4">
            <table class="table table-hover mt-2 table-borderless">
              <tr class="table-dark">
                <td class="text-center" colspan="2">Longtail</td>
              </tr>
              {%for x in longtailList %}
              <tr class="table-info">
                <form method="POST" href="{%url 'page-footer-page' pageId %}">
                  <td>
                    {%csrf_token%}
                    <span class="select-all">{{x}}</span>
                    <input type="hidden" name="full_lt_keyword" value="{{x}}">
                    <input type="hidden" name="re_add" value="True" />
                  </td>
                  <td>
                    <button type="submit" class="btn btn-yellow"><i class="bi bi-plus-circle"></i></button>
                  </td>
                </form>
              </tr>
              {%endfor%}
            </table>
          </div>
          <div class="col-sm-4">
            <table class="table table-hover mt-2 table-borderless">
              <tr class="table-dark">
                <td class="text-center" colspan="2">Refine/Related</td>
              </tr>
              {%for x in refineAndReplatedList %}
              <tr class="table-info">
                <form method="POST" href="{%url 'page-footer-page' pageId %}">
                  <td>
                    {%csrf_token%}
                    <span class="select-all">{{x}}</span>
                    <input type="hidden" name="full_lt_keyword" value="{{x}}">
                    <input type="hidden" name="re_add" value="True" />
                  </td>
                  <td>
                    <button type="submit" class="btn btn-yellow"><i class="bi bi-plus-circle"></i></button>
                  </td>
                </form>
              </tr>
              {%endfor%}
            </table>
          </div>
        </div>
        {%endif%}
      </div>
    </section>
  </div>
</div>

{%if link_done%}
<script>
  Swal.fire("เชื่อม Tag ปลายทางสำเร็จแล้ว", "", "success");
</script>
{%endif%}
<script src="{% static 'assets/js/custom/sweet-alert/sweet-alert.js' %}"></script>
{%endblock content%}

{%block modal%}
<div class="modal fade" id="addFooterLongtailModal" tabindex="-1" aria-labelledby="aaa" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="aaa">เพิ่มข้อมูล</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="POST">
        {%csrf_token%}
        <div class="modal-body">
          <label class="">ค้นหา Keyword จาก Goodgle</label>
          <input type="text" class="form-control" value="" name="keyword_search" />
          <input type="hidden" name="search_from" value="paragraph">
          <input type="hidden" name="search_mode" value="ตัวเดียว">
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-blue" data-bs-dismiss="modal" onclick="ExecuteTimerAlert()">
              ค้นหา
            </button>
          </div>
      </form>

      {%if footerId%}
      <form method="POST" href="{%url 'longtail-footer-page' pageId footerId %}">
        {%else%}
        <form method="POST" href="{%url 'longtail-sub-footer-page' pageId subFooterId %}">
          {%endif%}
          {%csrf_token%}
          <label>Keyword แบบเต็ม</label>
          <input type="text" class="form-control" name="full_lt_keyword" />
          <input type="hidden" value="" name="short_lt_keyword" />
          <input type="hidden" value="" name="link_href" />
          <input type="hidden" value="" name="link_href_shorten_name" />
          <div class="text-center mt-3">
            <button type="submit" class="btn btn-blue">เพิ่มข้อมูล</button>
          </div>
        </form>
    </div>
  </div>
</div>
{%endblock modal%}