<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>{%block title%} SEO KEYWORD TOOLS {%endblock title%}</title>
    {%load static%}
    <!-- Sweet alert -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Bootstrap core CSS -->

<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>



    <!-- Bootstrap icon -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css"
    />

    <!-- FONT -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    </style>
    {%load static%}
    <link rel="stylesheet" href="{%static 'assets/css/style.css'%}" />

    {%block header%} {%endblock header%}
  </head>
  <body style="background-image: url('{%static 'images/background/background.jpg'%}');">
    <div class="container-fluid">
      <div class="row">
        <div class="col-0 col-lg-2 p-0">
          <mainsidebar>
            <div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-custom" >
              <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
                <span class="fs-4">SEO KEYWORD TOOLS</span>
              </a>
              <hr>
              {%if user.is_authenticated%}
              <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                  <a href="{%url 'keyword-search-page'%}" class="nav-link text-white {% if navpage == 'keyword-search' %} active {% endif %}" aria-current="page">
                    <i class="bi bi-search"></i>
                    ค้นหา Keyword
                  </a>
                </li>
                <li>
                  <a href="{%url 'weblist-page' %}" class="nav-link text-white {% if navpage == 'keyword-manager' %} active {% endif %}">
                    <i class="bi bi-list-check"></i>
                    จัดการ Keyword
                  </a>
                </li>
                {%if user.profilemodel.usertype == 'root'%}
                <li>
                  <a href="{%url 'permission-definition-page'%}" class="nav-link text-white {% if navpage == 'permission' %} active {% endif %}">
                    <i class="bi bi-capslock-fill"></i>
                    Permission
                  </a>
                </li>
                <li>
                  <a href="{%url 'crud-pagelist-page'%}" class="nav-link text-white {% if navpage == 'crud-page' %} active {% endif %}">
                    <i class="bi bi-bookmark-check"></i>
                    จัดการหน้า CRUD
                  </a>
                </li>
                <li>
                  <a href="{%url 'post-page'%}" class="nav-link text-white {% if navpage == 'post' %} active {% endif %}">
                    <i class="bi bi-book"></i>
                    จัดการโพสต์
                  </a>
                </li>
                {%endif%}
              </ul>
                {%else%}
                <ul class="nav nav-pills flex-column mb-auto">
                <li>
                  <a class="nav-link text-white {% if navpage == 'login' %} active {% endif %}" href="{%url 'login'%}">
                    ล็อคอิน
                  </a>
                </li>
              </ul>
              {%endif%}
              <hr>
              <div class="dropdown">
                <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                  <strong> {{user.first_name}} {{user.last_name}}
                    ({{user.profilemodel.usertype}})</strong>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                  <li><a class="dropdown-item" href="{%url 'logout'%}">Sign out</a></li>
                </ul>
              </div>
            </div>      
          </mainsidebar>
        </div>
        <div class="col-0 col-lg-10">
          <div class="container-fluid py-3 container-background">
            <header>
              <div
                class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom d-block d-lg-none"
              >
              <nav class="navbar navbar-expand-lg navbar-light w-100">
                <div class="container-fluid">
                  <a class="navbar-brand" href="#">SEO KEYWORD TOOLS</a>
                  {%if user.is_authenticated%}
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                      <li class="nav-item">
                        {%if user.profilemodel.usertype == 'root'%}
                          <a class="nav-link" aria-current="page" href="{%url 'permission-definition-page'%}">Permission</a>
                      </li>
                      <li class="nav-item">
                        <a
                        class="nav-link"
                        href="{%url 'post-page'%}"
                        >จัดการโพสต์</a>
                        </li>
                        <li class="nav-item">
                          <a
                            class="nav-link"
                            href="{%url 'crud-pagelist-page'%}"
                            >จัดการหน้า CRUD</a>
                        </li>
                        {%endif%}
                      {%if user.profilemodel.usertype == 'prime' or user.profilemodel.usertype == 'root'%}
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          href="{%url 'weblist-page' %}"
                          >จัดการ Keyword</a>
                      </li>
                      {%endif%}
                      {%if user.profilemodel.usertype == 'premium' or user.profilemodel.usertype == 'prime' or user.profilemodel.usertype == 'root' %}
                      <li class="nav-item">
                          <a
                            class="nav-link"
                            href="{%url 'keyword-search-page'%}"
                            >ค้นหา Keyword</a> 
                      </li>
                      {%endif%}
                    </ul>
                    
                      <a class="me-3 py-2 text-dark text-decoration-none" href="{%url 'Home'%}"
                        > {{user.first_name}} {{user.last_name}}
                        ({{user.profilemodel.usertype}})</a>
                      <a
                        class="me-3 py-2 btn btn-red mx-3"
                        href="{%url 'logout'%}"
                        >Logout</a>
                        {%else%}            
                        <a
                        class="me-3 py-2 btn btn-blue"
                        href="{%url 'login'%}"
                        >Login</a>
                        {%endif%}
                </div>
              </nav>
      
      
      
      
      
      
      
      
      
      
      
      
              </div>
            </header>
      
            <main>{%block content%} {%endblock content%}</main>
          </div>
        </div>
      </div>
    </div>


    {%block modal%} {%endblock modal%}
    <!-- jQuery for AJAX-->
<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    {%block javascript%} {%endblock javascript%}
    
    <script>
function confirmDelete() {
  var result = confirm("ต้องการลบใช่หรือไม่ ?");
  if (!result) {
    event.preventDefault(); // prevent event when user cancel
  }
  // go to page in a tag's href when user choose 'OK'
}
    </script>
  </body>
</html>
