{%extends 'keywordapp/layout.html'%} {%block title%} ค้นหา Keyword ใน Google
{%endblock title%} {%block content%} {% load static %} {%if error%}
<div class="alert alert-danger" role="alert">{{error}}</div>
{%endif%}

<div class="text-center mt-3">
  <h1 class="display-4">สุ่ม Keyword ในหน้าเว็บ<br> {{pageName}}</h1>
</div>
<br />
<div class="row">
  <div class="col-12">
    <section class="pink-bg padding-30">
      <h2><span class="badge text-bg-primary">รวมคำ</span></h2>
      <div class="height-600 table-responsive">
        {%if metaList%}
        <br />
        <h3 class="mt-5">Meta Description</h3>
        <div class="row">
          {%for data in metaList%}
          <div class="col-12 col-md-6 col-lg-3">
            <span style="font-size: 8px">&#9899;</span>
            <span class="select-all">{{data}}</span>
          </div>
          {%endfor%}
        </div>
        <h3 class="mt-5">Main Paragraph</h3>
        <div class="row">
          {%for data in longtailList%}
          <div class="col-12 col-md-6 col-lg-3">
            <span style="font-size: 8px">&#9899;</span>
            <span class="select-all">{{data}}</span>
          </div>
          {%endfor%}
        </div>
        <h3 class="mt-5">Sub Paragraph</h3>
        <div class="row">
          {%for data in subLongtailList%}
          <div class="col-12 col-md-6 col-lg-3">
            <span style="font-size: 8px">&#9899;</span>
            <span class="select-all">{{data}}</span>
          </div>
          {%endfor%}
        </div>
        <br />
        {%endif%}
      </div>
    </section>
  </div>
</div>
{%endblock content%}