<!--extends layout page-->
{%extends 'keywordapp/layout.html'%}
<!--varible title to show on layout.html-->
{%block title%} Register {%endblock title%} {%block content%} {%if message%}
<h3>{{message}}</h3>
{%endif%} {%if error%}
<div class="alert alert-danger" role="alert">{{error}}</div>
{%endif%} {%if info%}
<div class="alert alert-success" role="alert">{{info}}</div>
{%endif%}
<h1 class="display-4 text-center">สมัครสมาชิก</h1>
<form method="POST">
  <!-- This is secure token for submiting form in Django -->
  {%csrf_token%}
  <div class="row">
    <div class="col-sm-6 mt-3">
      <label for="firstname">ชื่อ</label>
      <input
        type="text"
        class="form-control"
        id="firstname"
        placeholder="Enter"
        name="firstname"
        required
      />
    </div>
    <div class="col-sm-6 mt-3">
      <label for="lastname">นามสกุล</label>
      <input
        type="text"
        class="form-control"
        id="lastname"
        placeholder="Enter"
        name="lastname"
        required
      />
    </div>
    <div class="col-sm-6 mt-3">
      <label for="email">อีเมล์</label>
      <input
        type="text"
        class="form-control"
        id="email"
        placeholder="Enter"
        name="email"
        required
      />
    </div>
  </div>

  <div class="row my-5">
    <div class="col-sm-6 mt-3">
      <label for="password">รหัสผ่าน</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Enter"
        name="password"
        required
      />
    </div>
    <div class="col-sm-6 mt-3">
      <label for="password2">ยืนยันรหัสผ่าน</label>
      <input
        type="password"
        class="form-control"
        id="password2"
        placeholder="Enter"
        name="password2"
        required
      />
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-blue">สมัครสมาชิก</button>
  </div>
</form>
{%endblock content%}
