{%extends 'keywordapp/layout.html'%} {%block title%} Permission Definition
Manager {%endblock title%} {%block content%}
<h1 class="display-4 text-center">Permission Definition Manager</h1>
{%if status%}
<div class="alert alert-success" role="success">{{status}}</div>
{%endif%} {%if error%}
<div class="alert alert-danger" role="alert">{{error}}</div>
{%endif%}
<section class="pink-bg padding-10">
  <div class="table-responsive">
  <table class="table mb-5 mt-3">
    <tr class="table-primary">
      <th>ลำดับ</th>
      <th>Username</th>
      <th>ชื่อจริง</th>
      <th>นามสกุล</th>
      <th>ประเภทผู้ใช้</th>
      <th>วันหมดอายุ</th>
      <th>ดำเนินการ</th>
    </tr>
    {%for data in userData%}
    <tr>
      <td>{{forloop.counter}}</td>
      <td>{{data.username}}</td>
      <td>{{data.first_name}}</td>
      <td>{{data.last_name}}</td>
      <td>{{data.profilemodel.usertype}}</td>
      {%if data.profilemodel.expire_date%}
      <td>
        {{data.profilemodel.expire_date|date:"d M Y"}} :
        {{data.profilemodel.expire_date|date:"H:i"}} น.
      </td>
      {%else%}
      <td>ยังไม่มีวันหมดอายุ</td>
      {%endif%}
      <td>
        <a
          href="{%url 'permission-definition-edit-page' data.id%}"
          class="btn btn-yellow"
          ><i class="bi bi-pencil-square"></i
        ></a>
      </td>
    </tr>
    {%endfor%}
  </table>
  </div>
</section>

{%endblock content%}
