{%extends 'keywordapp/layout.html'%} {%block title%} Permission Definition
Manager {%endblock title%} {%block content%}
<h1 class="display-4 text-center">Permission Definition Manager</h1>
{%if message%}
<div class="alert alert-success" role="success">{{message}}</div>
{%endif%} {%if error%}
<div class="alert alert-danger" role="alert">{{error}}</div>
{%endif%}

<form method="POST" action="{%url 'permission-definition-edit-page' userId%}">
  {%csrf_token%}
  <div class="row">
    <div class="col-4">
      <label class="pt-3">ประเภทลูกค้า</label>
      <select name="usertype" id="" class="form-control">
        <option {%if editData.usertype == "member"%} selected {%endif%} value="member">member</option>
        <option {%if editData.usertype == "premium"%} selected {%endif%} value="premium">premium</option>
        <option {%if editData.usertype == "prime"%} selected {%endif%} value="prime">prime</option>
      </select>
    </div>
    <div class="col-4">
      <label class="pt-3">วันหมดอายุ</label>
      <input type="date" class="form-control" name="expire_date" id="" value="{{editData.expire_date|date:'Y-m-d'}}"/>
    </div>
    <div class="col-4">
      <label class="pt-3">เวลาหมดอายุ</label>
      <input type="time" class="form-control" name="expire_time" id="" value="{{editData.expire_date|date:'H:i'}}" />
    </div>
    </div>
    <div class="row pt-5">
      <div class="col-12">
        <label class="pt-3">สถานะการใช้งาน</label>
        <input type="checkbox" name="status" id="" {%if editData.status == True%} checked {%endif%} />
        &nbsp;&nbsp;&nbsp;&nbsp;
        <label class="pt-3">การยืนยันตัวตน</label>
        <input type="checkbox" name="verified" id="" {%if editData.verified == True%} checked {%endif%}/>
      </div>
    </div>
  
  <div class="text-center my-5">
    <button class="btn btn-blue" type="submit">ยืนยันการแก้ไข</button>
    <a href="{%url 'permission-definition-page'%}" class="btn btn-red">ยกเลิก</a>
  </div>
</form>

{%endblock content%}
