doctype html
html(lang="en")
    head
        include inc/head.pug

    body
        include inc/loader.pug

        // Header Area
        .header-area#headerArea
            .container.h-100.d-flex.align-items-center.justify-content-between
                // Back Button
                .back-button
                    a(href="home.html")
                        svg(xmlns="http://www.w3.org/2000/svg", width="24", height="24", fill="currentColor", class="bi bi-arrow-left", viewBox="0 0 16 16")
                            path(fill-rule="evenodd", d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z")

                // Page Title
                .page-heading
                    h6.mb-0 Offline Detected

                // Navbar Toggler
                .suha-navbar-toggler.d-flex.justify-content-between.flex-wrap#suhaNavbarToggler
                    span
                    span
                    span

        include inc/sidenav.pug

        // Page Content Wrapper
        .page-content-wrapper
            .container
                // Offline Area
                .offline-area-wrapper.py-3.d-flex.align-items-center.justify-content-center
                    .offline-text.text-center
                        img.mb-4.px-5(src="img/bg-img/no-internet.png", alt="")
                        h5 No Internet Connection!
                        p Seems like you're offline, please check your internet connection. This page doesn't support when you offline!
                        a.btn.btn-primary(href="home.html") Back Home

        include inc/footer-nav.pug

        include inc/footer.pug