{%extends 'keywordapp/layout.html'%} {%block title%} ค้นหา Keyword ใน Google
{%endblock title%} {%block content%} {% load static %} {%if error%}
<div class="alert alert-danger" role="alert">{{error}}</div>
{%endif%}

<div class="text-center mt-3">
  <h1 class="display-4">โปรแกรมค้นหา Keyword</h1>
</div>
<br />
<div class="row">
  <div class="col-12">
    <section class="pink-bg padding-50 mt-5">
      <div class="text-center">
        <h2>
          <span class="badge text-bg-primary">ค้นหา Keyword จาก Google</span>
        </h2>
      </div>
      <form method="POST">
        {%csrf_token%}
        <div class="row">
          <div class="col-12 mx-2 d-flex justify-content-center">
            <input
              type="text"
              class="form-control"
              value=""
              name="keyword_search"
            />
          </div>
          <div class="col-12 text-center mt-2">
            <input type="hidden" name="search_mode" value="ตัวเดียว" />
            <button
              type="submit"
              class="btn btn-blue"
              onclick="ExecuteTimerAlert()"
            >
              ค้นหา
            </button>
          </div>
        </div>
      </form>
    </section>
  </div>
  <div class="col-6">
    <section class="pink-bg padding-30 mt-5">
      <h2><span class="badge text-bg-primary">ตารางผลลัพธ์</span></h2>
      <div class="height-600 table-responsive">
        <div class="text-center">
          <span class="text-22"
            >Keyword : <span class="select-all">{{keywordSearch}}</span></span
          >
        </div>
        <div class="row mt-2">
          <div class="col-sm-4">
            <table class="table table-hover mt-2 table-borderless">
              <tr class="table-dark">
                <td class="text-center">Refine Popular</td>
              </tr>
              {%for x in refinePopularList%}
              <tr class="table-info">
                <td style="user-select: all">{{x}}</td>
              </tr>
              {%endfor%}
            </table>
          </div>
          <div class="col-sm-4">
            <table class="table table-hover mt-2 table-borderless">
              <tr class="table-dark">
                <td class="text-center">Longtail</td>
              </tr>
              {%for x in longtailList%}
              <tr class="table-info">
                <td style="user-select: all">{{x}}</td>
              </tr>
              {%endfor%}
            </table>
          </div>
          <div class="col-sm-4">
            <table class="table table-hover mt-2 table-borderless">
              <tr class="table-dark">
                <td class="text-center">Refine/Related</td>
              </tr>
              {%for x in refineAndReplatedList%}
              <tr class="table-info">
                <td style="user-select: all">{{x}}</td>
              </tr>
              {%endfor%}
            </table>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="col-6">
    <section class="pink-bg padding-30 mt-5">
      <h2><span class="badge text-bg-primary">รวมคำ</span></h2>
      <div class="height-600 table-responsive">
        {%if refinePopularList%}
        <h3>รวมคำจากตาราง</h3>
        <div class="lh-lg">
          {%for x in refinePopularList%}<span class="select-all text-bg-light"
            >{{x}}</span
          >
          {%endfor%} {%for x in longtailList%}<span
            class="select-all text-bg-light"
            >{{x}}</span
          >
          {%endfor%} {%for x in refineAndReplatedList%}<span
            class="select-all text-bg-light"
            >{{x}}</span
          >
          {%endfor%}
        </div>
        <br />
        <h3>ตัดคำซ้ำ</h3>
        <div class="row">
          {%for data in uniqueDataList%}
          <div class="col-12 col-md-6 col-lg-3">
            <span style="font-size: 8px">&#9899;</span>
            <span class="select-all">{{data}}</span>
          </div>
          {%endfor%}
        </div>
        <br />
        <h3>รวมคำที่ไม่ซ้ำ</h3>
        <div class="lh-lg">
          {%for data in uniqueDataList%}<span class="select-all text-bg-light"
            >{{data}}</span
          >
          {%endfor%}
        </div>
        <br />
        {%endif%}
      </div>
    </section>
  </div>
</div>

{%if alert%}
<script>
  Swal.fire("เสร็จแล้ว", "Keyword : {{alert}}", "{{status_alert}}");
</script>
{%endif%} {%endblock content%} {%block javascript%}
<script src="{% static 'assets/js/custom/sweet-alert/sweet-alert.js' %}"></script>
{%endblock javascript%}
