{%extends 'keywordapp/layout.html'%} {%block title%}จัดการข้อมูลหน้าทั้งหมด
{%endblock title%} {%block content%} {%load static%}
<h1 class="display-2 text-center">จัดการหน้า</h1>

<section class="my-5 pink-bg padding-50">
  <div class="d-flex justify-content-end">
    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addPagelistModal">เพิ่มข้อมูล</button>
  </div>
  <h2><span class="badge text-bg-primary">ตารางข้อมูล</span></h2>
  <div class="table-responsive">
    <table class="table" id="pagelistTable">
      <tr class="table-primary">
        <th class="text-center">ลำดับ</th>
        <th class="text-center">ชื่อหน้า</th>
        <th class="text-center">จัดการหน้า</th>
      </tr>
      {%for data in pageListModel%}
      <tr>
        <td class="text-center">{{forloop.counter}}</td>
        <td>{{data.page_name}}</td>
        <td class="text-center">
          <a href="{%url 'crud-page' data.id%}" class="btn btn-green"
            ><i class="bi bi-search"></i
          ></a>
        </td>
      </tr>
      {%endfor%}
    </table>
  </div>
</section> 

{%endblock content%}
{%block modal%}
{% include 'keywordapp/crud/pagelist/page-list-crud-add-modal.html' %}
{%endblock modal%}
{%block javascript%}
<script src="{%static 'assets/js/crud/pagelist/page-list-create.js'%}"></script>
{%endblock javascript%}


