<!--extends layout page-->
{%extends 'keywordapp/layout.html'%}
<!--varible title to show on layout.html-->
{%block title%} Login {%endblock title%} {%block content%}
<div class="text-center">
  <h1>ตั้งค่ารหัสผ่านใหม่</h1>
  {%if error%}
  <div class="alert alert-danger" role="alert">{{error}}</div>
  {%else%}
  <form method="POST">
    {%csrf_token%}
    <div class="form-group">
      รหัสผ่าน
      <input
        type="password"
        class="form-control w-50 d-inline"
        id="password"
        placeholder="Password"
        name="password"
      />
      <br />
      <br />
      ยืนยันรหัสผ่าน
      <input
        type="password"
        class="form-control w-50 d-inline"
        id="password"
        placeholder="Confirm Password"
        name="password2"
      />
    </div>
    <button type="submit" class="btn btn-blue mt-3">รีเซ็ตรหัสผ่าน</button>
  </form>
  {%endif%}
</div>
{%endblock content%}
