{%extends 'keywordapp/layout.html'%} {%block title%} SEO KEYWORD TOOLS
{%endblock title%} {%block content%} {%load static%}
<section class="pink-bg padding-10 my-auto">
  <h1 class="display-3 text-center">
    สวัสดีครับคุณ {{user.first_name}} {{user.last_name}}
  </h1>
  {%if user.profilemodel.usertype != "member"%}
  <h3 class="text-center">วันใช้งานถึงวันที่ : {{expireDate}}</h3>
  <h3 class="text-center">
    สิทธิการใช้งานประเภท : {{user.profilemodel.usertype}}
  </h3>
  {%else%}
  <h3 class="text-center">
    ติดต่อซื้อสิทธิ์ใช้งานระบบได้ที่ <br /><br /><img src="{%static 'images/element/others/line-qr-code.png'%}"
      alt="" />
  </h3>
  <br /><br />
  <h3 class="display-4 text-center">Line : @789ojdsx</h3>
  {%endif%}
</section>
<section class="pink-bg padding-50 my-auto mt-5">
  <span class="badge text-bg-primary">ราคาและโปรโมชั่น</span>

  <span class="header-36 mt-3">แพ็กเกจ</span>
  <div class="">
    <div class="row">
      <div class="col-4 d-flex justify-content-center">
        <div class="card border-primary mb-3" style="max-width: 18rem">
          <div class="card-header text-center">
            มือใหม่ <br />
            <span class="text-success text-14"><span class="text-22">5,000</span> บาท/เดือน</span>
          </div>

          <div class="card-body text-primary">
            <div class="row">
              <div class="col-10 p-1">ค้นหา Keyword</div>
              <div class="col-2 icon">
                {% include 'keywordapp/component/home/correct.html' %}
              </div>
            </div>
            <div class="row">
              <div class="col-10 p-1">จัดการ Keyword แบบพื้นฐาน</div>
              <div class="col-2">
                {% include 'keywordapp/component/home/correct.html' %}
              </div>
            </div>
            <div class="row">
              <div class="col-10 p-1">จัดการ Keyword แบบขั้นสูง</div>
              <div class="col-2">
                {% include 'keywordapp/component/home/incorrect.html' %}
              </div>
            </div>
            <div class="row">
              <div class="col-10 p-1">เช็คสุขภาพคำแต่ละหน้า</div>
              <div class="col-2">
                {% include 'keywordapp/component/home/incorrect.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <div class="card border-primary mb-3" style="max-width: 18rem">
          <div class="card-header text-center">
            มือเก่า <br />
            <span class="text-success text-14"><span class="text-22">7,000</span> บาท/เดือน</span>
          </div>
          <div class="card-body text-primary">
            <div class="row">
              <div class="col-10 p-1">ค้นหา Keyword</div>
              <div class="col-2 icon">
                {% include 'keywordapp/component/home/correct.html' %}
              </div>
            </div>
            <div class="row">
              <div class="col-10 p-1">จัดการ Keyword แบบพื้นฐาน</div>
              <div class="col-2">
                {% include 'keywordapp/component/home/correct.html' %}
              </div>
            </div>
            <div class="row">
              <div class="col-10 p-1">จัดการ Keyword แบบขั้นสูง</div>
              <div class="col-2">
                {% include 'keywordapp/component/home/correct.html' %}
              </div>
            </div>
            <div class="row">
              <div class="col-10 p-1">เช็คสุขภาพคำแต่ละหน้า</div>
              <div class="col-2">
                {% include 'keywordapp/component/home/incorrect.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4 d-flex justify-content-center">
        <div class="card border-primary mb-3" style="max-width: 18rem">
          <div class="card-header text-center">
            ผู้เชี่ยวชาญ <br />
            <span class="text-success text-14"><span class="text-22">8,000</span> บาท/เดือน</span>
          </div>
          <div class="card-body text-primary">
            <div class="row">
              <div class="col-10 p-1">ค้นหา Keyword</div>
              <div class="col-2 icon">
                {% include 'keywordapp/component/home/correct.html' %}
              </div>
            </div>
            <div class="row">
              <div class="col-10 p-1">จัดการ Keyword แบบพื้นฐาน</div>
              <div class="col-2">
                {% include 'keywordapp/component/home/correct.html' %}
              </div>
            </div>
            <div class="row">
              <div class="col-10 p-1">จัดการ Keyword แบบขั้นสูง</div>
              <div class="col-2">
                {% include 'keywordapp/component/home/correct.html' %}
              </div>
            </div>
            <div class="row">
              <div class="col-10 p-1">เช็คสุขภาพคำแต่ละหน้า</div>
              <div class="col-2">
                {% include 'keywordapp/component/home/correct.html' %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <span class="text-danger">* พิเศษ ลูกค้าเก่า ลดราคา 1,000 บาท ทุกรายการ <br> * ทุกรายการ ซื้อ 2 เดือนลด 10% , 3
    เดือนลด 20%</span>
  <div class="mt-5">
    <span class="header-36 mt-3">โปรโมชั่น</span>
    <div class="text-indent-24">
      - ได้รับสิทธิ์ใช้ตัวจัดการ Keyword แบบขั้นสูงฟรี 1 เดือน มูลค่า 2,000 บาท สำหรับคนที่สั่งซื้อ แพ็กเกจ <span
        class="text-primary">"มือใหม่"</span>
      (จะได้รับหลังพัฒนาเสร็จ)
    </div>
    <div class="text-indent-24">
      - ตัวจัดการ keyword แบบขั้นสูงจะรวม keyword ทั้งหมดไว้ในหน้าเดียว
      ไม่ต้องกดสลับไปมาเหมือนตัวจัดการ keyword ปัจจุบัน
    </div>
    <div class="text-indent-24">
      - สามารถค้นหา keyword ในหน้านี้ได้เลยและกดเพิ่มเข้าระบบได้ทันที
    </div>
    <div class="text-indent-24">
      - โปรโมชั่นตั้งแต่ 1 มิถุนายน 2565 - 31 กรกฎาคม 2565
    </div>
  </div>
</section>
<section class="pink-bg padding-30 my-auto mt-5">
  <span class="badge text-bg-primary">วิธีใช้ระบบ</span>
  <span class="header-36 mt-3">ค้นหา Keyword</span>
  <br />
  1. ใส่คำค้นเข้าไปในช่องค้นหา<br />
  2. กดค้นหา<br />
  3. เลือกผลลัพธ์ไปใช้งานได้เลย<br />
  <br />
  <span class="header-36 mt-3">จัดการหน้า</span>
  <br />
  เอา Keyword ไปกรอกตามช่องต่างๆ แล้วหน้าสรุปจะบอกว่า
  เราต้องเอาเนื้อหาไหนไปวางในเว็บเราบ้าง
  <br /><br />
  <div class="text-indent-24">
    <h4><u>เพิ่มหน้า</u></h4>
    1. กรอกหน้า เช่น "สมัครสมาชิก"<br />
    2. กรอก Title ของหน้า เช่น "ทำอาหาร" และกดปุ่มเพิ่มข้อมูล<br />
    <br />
    <h4><u>เพิ่ม Meta Description</u></h4>
    3. กดปุ่ม Meta Description เพื่อเข้าหน้าจัดการ Meta Description<br />
    4. กรอก Keyword แบบเต็ม (ไม่ต้องตัดคำซ้ำ ใส่คำเต็มได้เลย) เช่น "ทำอาหาร
    กลางวัน"<br />
    5. ในส่วน "รวมคำ" จำรวมคำแบบเต็ม และ แบบย่อ ไว้ ถัดลงมาจะเป็น
    การตัดคำซ้ำให้อัตโนมัติ 2 แบบ คือ<br />
    <p class="text-indent-24">
      5.1 ไม่ซ้ำกันเลย : แต่ละคำ ซ้ำไม่เกิน 1ด้วย Spacebar
    </p>
    <p class="text-indent-24">
      5.2 ซ้ำกันไม่เกิน 2 ครั้ง : แต่ละคำ ซ้ำไม่เกิน 1ด้วย Spacebar และซ้ำไม่เกิน 2
      ครั้ง
    </p>
    6. สามารถกด "ใช้คำชุดนี้" เพื่อเอาคำชุดนี้ไปเป็น Keyword แบบย่อได้<br />
    <br />
    <h4><u>เพิ่ม Header</u></h4>
    7. ย้อนกลับมาหน้าแรกสุด ที่เพิ่มหน้า และ Title จากนั้นกดเข้าไปที่ปุ่ม
    "ดูรายละเอียด" ของช่อง "เนื้อหาของหน้า"<br />
    8. ใส่ Keyword ที่ต้องการให้เป็น Header จากนั้นเลือกประเภทของ Header (H1-H6)
    จากนั้นกดเพิ่ม<br />
    <br />
    <h4><u>เพิ่ม Paragraph</u></h4>
    9. กดที่ปุ่ม "ดูรายละเอียด" ของช่อง "Paragraph" <br />
    10. กรอก Keyword ที่เกี่ยวข้องกับ Header เหมือนกับ Meta Description ในข้อ 4
    11. สามารถตัดคำซ้ำได้เหมือน Meta Description ในข้อ 5
    <br />
    <br />
    <h4><u>เพิ่ม Footer</u></h4>
    12. ย้อนกลับมาหน้าแรกสุด จากนั้นกดเข้าไปที่ปุ่ม "ดูรายละเอียด" ของช่อง
    "Footer"<br />
    13. เพิ่ม Keyword และ Link ที่ต้องการเชื่อมไปหน้าอื่น
    (ระบบจำรวมคำให้สำหรับคนที่เขียนเว็บแบบ html ถ้าไม่ได้ใช้ html
    ไม่จำเป็นต้องกรอกช่อง Link)<br />
    <br />
    <h4><u>ดูรายละเอียดหน้า จากที่กรอกข้อมูลมาทั้งหมด</u></h4>
    14. ย้อนกลับมาหน้าแรกสุด จากนั้นกดเข้าไปที่ปุ่ม "ดูตัวอย่าง" ของช่อง
    "ดูตัวอย่างหน้า"<br />
    15. หน้านี้จะแสดงตัวอย่างที่เพิ่มเข้าไปในระบบตั้งแต่ข้อ 1
  </div>
</section>
{%endblock content%}