<!--extends layout page-->
{%extends 'keywordapp/layout.html'%}
<!--varible title to show on layout.html-->
{%block title%} Login {%endblock title%} {%block content%} {%if message%}

<div class="alert alert-danger" role="alert">{{message}}</div>
{%endif%}

<h1 class="display-4 text-center">Login</h1>
<form method="POST">
  <!-- This is secure token for submiting form in Django -->
  {%csrf_token%}
  <div class="row my-5">
    <div class="col-sm-6">
      <label for="username">Username</label>
      <input
        type="text"
        class="form-control"
        id="username"
        placeholder="Enter"
        name="username"
      />
    </div>
    <div class="col-sm-6">
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        id="password"
        placeholder="Enter"
        name="password"
      />
    </div>
  </div>
  <div class="text-center">
    <button type="submit" class="btn btn-blue mt-3">Login</button>
  </div>
</form>
<div class="d-flex justify-content-between mt-5">
  <a href="{%url 'register-page'%}">สมัครสมาชิก</a>
</div>
{%endblock content%}
